[defaults]
inventory = inventory/dynamic_inventory.py
host_key_checking = False
retry_files_enabled = False
forks = 10
pipelining = True
inject_facts_as_vars = False
deprecation_warnings = False
roles_path = roles:ansible/roles
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR
pipelining = True
