version: 2
ethernets:
  main0:
    {% if mac_address %}
    match:
      macaddress: "{{ mac_address }}"
    {% else %}
    match:
      name: "e*"
    {% endif %}
    addresses:
      - {{ node_ip }}/{{ network_prefix }}
    routes:
      - to: 0.0.0.0/0
        via: {{ gateway_ip }}
    nameservers:
      addresses: [{{ dns_ip }}]
