#!/usr/bin/env bash
set -euo pipefail

BIND_IP="{{ bind_ip }}"
PORT="{{ port }}"

python3 - <<'EOF' "${BIND_IP}" "${PORT}"
import socket
import sys

host = sys.argv[1]
port = int(sys.argv[2])
s = socket.socket()
s.settimeout(1.0)
res = s.connect_ex((host, port))
s.close()
sys.exit(0 if res == 0 else 1)
EOF
