spack:
  specs:
    - hpl@2.3 ^openmpi@5.0.5 fabrics={{ 'ucx' if transport == 'ucx' else 'none' }} ^openblas@0.3.28 threads=openmp
  concretizer:
    unify: true
    reuse: false
  view: {{ nfs_mount_dir }}/environment/view
  config:
    install_tree:
      root: {{ nfs_mount_dir }}/software
    build_jobs: {{ build_jobs }}
{% if spack_mirror %}
  mirrors:
    user: {{ spack_mirror | to_json }}
{% endif %}
