[defaults]
inventory = inventory/hosts.yaml
host_key_checking = False
retry_files_enabled = False
forks = 10
pipelining = True
roles_path = /home/orpheezt/personal/SCC_CARLA/ansible/roles:roles

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR -J scc-bastion
pipelining = True
