#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  storage:
    layout:
      name: direct
  network:
    version: 2
    ethernets:
      eth0:
        match:
          name: en*
        addresses:
          - {{ node_ip }}/24
        routes:
          - to: default
            via: {{ gateway_ip }}
        nameservers:
          addresses:
            - {{ dns_ip }}
  identity:
    hostname: {{ hostname }}
    username: {{ node_username }}
    password: "*"
  ssh:
    install-server: true
    authorized-keys:
      - {{ pubkey }}
    allow-pw: false
  packages:
    - python3
    - python3-apt
  late-commands:
    - curtin in-target --target=/target -- bash -c 'echo "{{ node_username }} ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/90-scct-init && chmod 0440 /etc/sudoers.d/90-scct-init'
    - curtin in-target --target=/target -- sed -i 's/^#*PermitRootLogin.*/PermitRootLogin no/' /etc/ssh/sshd_config
